@media only screen and (max-width: 7680px) {
/* Website Hintergrund start */
body {
	background-color: black;
    color: white;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    margin: 0vw;
    padding: 0vw;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "fantasy", sans-serif;
    background-position: center;
    background-size: cover;
	max-width: 3840px;
}

header, footer {
    flex: 15%;
	background-color: black;
    color: white;
    text-align: center;
	overflow-x: hidden;
}

main {
    flex: 70%;
	overflow-x: hidden;
}

/*---------------Navi start------------------------*/
.navig1 {
  position: fixed;
  background-color: black;
  height: 3.5vh;
  left: 0;
  width: 100vw;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navig1 .LogoL {
  float: left;
  width: 10vw;
  height: 3.5vh;
}

.navig1 .LINKS {
  float: left;
  width: 60vw;
  height: 3.5vh;
}

.navig1 img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 7vw;
    height: 3.5vh;
}

.navig1 .container {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
}

.navig1 .container .svg-container1 {
  width: 50%;
  height: 3.5vh;
}

.navig1 .container .svg-container2 {
  width: 50%;
  height: 3.5vh;
}

.navig1 .container .svg-container2 img {
  width: 9vw;
  height: 3vh;
  cursor: pointer;
}

.navig1 > div {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.5vw;
}

.navig1 > div:first-child {
  gap: 10px;
}

.navig1 > div.active:after {
  bottom: -8px;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  height: 3px;
  border-radius: 99px;
  background-color: $primary-color; /* Stellen Sie sicher, dass $primary-color definiert ist */
}
/*----------------------------------------------------------------------------*/

.HelluDunkel {
  width: 100%;
  height: 3.5vh;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
 } 
 
.HelluDunkellabel {
    display: block;
    width: 7vw;
    height:  3vh;
    cursor: pointer;
    position: absolute;
    left: 7.5vw;
    z-index: 10;
    background: white;
    border-radius: 50px;
    transition: all 0.4s ease;
	transform: translateY(-1.5vw);
}

input[type=checkbox] {
    visibility: hidden;}
   input:checked + .HelluDunkellabel {
	  left: 0.5vw;
	  transform: translateY(-1.5vw);
}  

.HelluDunkel:after {
    content: 'dark';
    color: black;
    position: absolute;
    right: 11.5vw;
    z-index: 0;
    font: 1vw Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.HelluDunkel:before {
    content: 'light';
    color: white;
    position: absolute;
    left: 9.5vw;
    z-index: 0;
    font: 1vw Arial, sans-serif;
    font-weight: bold;
} 

.LINKS a {
  	font-size: 2vw;
	color: white;
	margin-right: 1vw;
	font-family: fantasy;
	text-decoration: none;
}

.LINKS2 a {
  	font-size: 1vw;
	color: white;
	margin-right: 1vw;
	font-family: fantasy;
	text-decoration: none;
}

.aktiv 
{
    animation: blink 1.5s linear infinite;
}

@keyframes blink {
  from {
     opacity: 0;
  }
  to {
     opacity: 1;
  }
} 


.Navi2 {
    text-align: left;
    background-color: black;
    width: 100vw;
    bottom: 0vh;
    height: 10vh;
    font-size: 1.5vh;
    overflow: hidden;
    z-index: 200;
    position: fixed;
}
  
.YTBUTTON{
	display: block;
}  

.YTBUTTON2{
	display: none;
}

/*------------------Navi-ende-------------------------*/

/*------------------Login-start-------------------------*/

#loginButton,
#loginButton:after {
	width: 13vw;
    height: 3.5vh;
	font-size: 1vw;
	font-family: 'Bebas Neue', sans-serif;
	background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
	border: 0;
	color: #fff;
	letter-spacing: 3px;
	outline: transparent;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

#loginButton:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'abonnieren';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

#loginButton:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
/*----------------Login-Button-----------------------------*/

#bewertungButton {
    width: 100vw;
    height: 6vh;
    font-family: "Open Sans", sans-serif;
    font-size: 2vw;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ff013c;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#bewertungButton:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
  
#BewertungContent {
	margin: 10vh 0vw;
} 

/*--------------Bewerten-Button--------------------------------*/
/*----------------------Button--------------------------------*/
#loginPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#loginContent h2{
	text-align-last: center;
    color: black;
    font-family: sans-serif;
    background-color: white;
    line-height: 0.5;
    font-size: 3.5vw;
    margin: 0%;
	padding: 5vh 0vh;
}

#registerContent{
	display:none;
}  
  
#registerContent h2{
	text-align-last: center;
    color: black;
    font-family: sans-serif;
    background-color: white;
    line-height: 0.5;
    font-size: 3.5vw;
    margin: 0%;
	padding: 5vh 0vh;
}

.tab {
    cursor: pointer;
    padding: 10px;
	color: black;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tab.active {
	color: white;
    background-color: black;
    border-bottom: 1px solid #fff;
}
/*-------------------------login-ende---------------------*/
/*------------------Label start-------------------------*/
.labelcheck {
    margin: 0vh 20vw;
    font-size: 2.5vh;
	height: 3vh;
    display: inline-block;
    width: 15vw;
    transform: translateY(-5%);
}

/*------------------Label ende-------------------------*/
select{
	width: 20vw;
	font-size: 3vh;
    height: 3vh;
    text-align: center;
}

.select2-results__option[aria-selected] {
    background-color: black;
    cursor: pointer;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 2vh;
    background-color: rgb(204, 0, 0);
    color: rgb(232, 230, 227);
    font-size: 1.5vh;
    text-align: center;
}

#Spiel{
	width: 100vw;
	height: 3vh;
}

#submitB{
    width: 100vw;
    height: 3vh;
    text-align: center;
}


.game{
	margin-bottom: 10vh;
}

.Gformtrenner{
	height: auto;
	margin-top: 7vh;
}

.Gformtrenner p {
	margin: auto;
}

#Gaus{
	display: flex;
    flex-direction: column; 
    justify-content: space-between;
	overflow-x: hidden;
}

.Genre{
	width: 25vw;
    text-align: center;
    font-size: xx-small;
}

#Release .Checkboxvonbis{
	width: 25vw;
	font-size: 1vh;
}

.Gameplay .Graphic .Story .AI .Creativity .Immersion .Sound .Rating{
	width: 8vh;
    text-align: center;
    font-size: xx-small;
}

#Gform h1 {
	font-size: 1.5vh;
}

img {
	width: 5vw;
    height: 7vh;
}

.Gbild img{
    height: 6vh;
    width: 8vw;
}

.Gbild tr{
    width: 12.5%;
}

#gameTable{
	font-size: 2.4vw;
    text-align: center;
}

#gameTable a{
	color: white;
	font-family: fantasy;
	text-decoration: none;
}

#gameTable td{
	width: 10vw;
	height: 6vh;
}
  
.item {
	float: left;
	height: 35vh;
	width: 30vw;
	margin: 3vh 9vw;
}

.Bildericon img {
	width: 2vw;
	height: 2vw;
}
  
.Buttoneffekt {
	border: none;
	outline: solid rgba(0, 0, 0, 1.0);
	color: white;
	height: 3vh;
	width: 10vw;
	font-size: 1vw;
	background-color: rgba(50, 50, 50, 0.75);
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

/*-------------------Scrollbar-------------------------*/
  ::-webkit-scrollbar {
    background: blue;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background: red;
  }

  ::-webkit-scrollbar-track-piece {
    background: black;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, green);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-corner {
    background: black;
  }
 /*-------------------Scrollbar-------------------------*/
}

/*------------------------------------------------------*/
@media only screen and (max-width: 3840px) {
}
/*------------------------------------------------------*/

@media only screen and (max-width: 2560px) {

.navig1 img {
    width: 6vw;
}

.LOGO{
    width: 10vw;
    height: 5vh;
}
	
.LOGO2{
    width: 10vw;
    height: 5vh;
}

.Navi2 {
    height: 11vh;
}

select {
	color: black;
    font-size: 2.5vh;
	height: 3vh;
}

.labelcheck {
	font-size: 2.5vh;	   
	height: 3vh;
}

#gameTable {
    font-size: 2vw;
}

}

/*-------------------------------------------------------*/

@media only screen and (max-width: 1920px) {

img {
    width: 6vw;
    height: 9vh;
}

}

/*-------------------------------------------------------*/

@media only screen and (max-width: 1440px) {

.YTBUTTON{
	display: none;
}
  
.YTBUTTON2{
	display: block;
}

.yt-uix-button.yt-uix-button-subscribe-branded, .yt-uix-button.yt-uix-button-subscribed-branded {
    padding: 0 6px 0 2.5px;
    height: 15px;
} 
  
}
/*-------------------------------------------------------*/


@media only screen and (max-width: 1366px) {

#loginButton,
#loginButton:after {
	width: 13vw;
    height: 3.5vh;
}

#loginButton {
    font-size: 2vw;
}

.navig1 img {
    width: 5vw;
}

img {
    width: 6vw;
    height: 9vh;
}


}

/*-------------------------------------------------------*/

@media only screen and (max-width: 768px) {
	
.navig1 > div {
	font-size: 2vw;
}

.HelluDunkel:after {
	right: 9.5vw;
    font: 1.5vw sans-serif;
}

.HelluDunkel:before {
	left: 9.5vw;
    font: 1.5vw sans-serif;
}
  
.HelluDunkellabel {
	transform: translateY(-2.5vw);
}

input[type=checkbox] {
    visibility: hidden;
}

input:checked + .HelluDunkellabel {
	  left: 0.5vw;
	  transform: translateY(-2.5vw);
}

select {
    font-size: 1.5vh;
	height: 2vh;
}

.labelcheck {
	font-size: 1.5vh;	   
	height: 2vh;
}

.LOGO{
	width: 45vw;
    height: 20vh; 
}

.LOGO2{
	width: 45vw;
    height: 20vh; 
}

.Navi2 {
    height: 10.5vh;
}

img {
    width: 6vw;
    height: 4vh;
}

#bewertungButton{
	font-size:3vw;
}

}

/*-------------------------------------------------------*/

@media only screen and (max-width: 360px) {

.navig1 img {
    width: 11vw;
}

.LINKS2{
	font-size: 2vw;
	text-align: left;
}

.LOGO{
	width: 60vw;
    height: 15vh; 
}

.LOGO2{
	width: 80vw;
    height: 15vh; 
}

.nav{
	left: 27vw;
	bottom: 88vh;
}

.nav2{
	left: 26vw;
	bottom: 1vh;
}

.HelluDunkellabel {
    transform: translateY(-4.5vw);
}

input:checked + .HelluDunkellabel {
    transform: translateY(-5vw);
}

.Navi2 {
    height: 10vh;
	font-size: 1.5vh;
}

}

/*-------------------------------------------------------*/